In [1]:
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import pandas as pd
import csv

In [2]:
RealEstate = ('../DESKTOP/TEST/Real_Estate.csv')
df = pd.read_csv(RealEstate)

In [4]:
df.head(5)

           PID  ST_NUM    ST_NAME OWN_OCCUPIED NUM_BEDROOMS NUM_BATH SQ_FT
0  100001000.0   104.0     PUTNAM            Y            3        1  1000
1  100002000.0   197.0  LEXINGTON            N            3      1.5    --
2  100003000.0     NaN  LEXINGTON            N          n/a        1   850
3  100004000.0   201.0   BERKELEY           12            1      NaN   700
4          NaN   203.0   BERKELEY            Y            3        2  1600

In [6]:
df.shape

(9, 7)

In [7]:
df.info

<bound method DataFrame.info of            PID  ST_NUM     ST_NAME OWN_OCCUPIED NUM_BEDROOMS NUM_BATH SQ_FT
0  100001000.0   104.0      PUTNAM            Y            3        1  1000
1  100002000.0   197.0   LEXINGTON            N            3      1.5    --
2  100003000.0     NaN   LEXINGTON            N          n/a        1   850
3  100004000.0   201.0    BERKELEY           12            1      NaN   700
4          NaN   203.0    BERKELEY            Y            3        2  1600
5  100006000.0   207.0    BERKELEY            Y          NaN        1   800
6  100007000.0     NaN  WASHINGTON          NaN            2   HURLEY   950
7  100008000.0   213.0     TREMONT            Y            1        1   NaN
8  100009000.0   215.0     TREMONT            Y           na        2  1800>

In [15]:
# Looking at the ST_NUM column
print (df['ST_NUM'])

0    104.0
1    197.0
2      NaN
3    201.0
4    203.0
5    207.0
6      NaN
7    213.0
8    215.0
Name: ST_NUM, dtype: float64

In [16]:
df['ST_NUM'].isnull()

0    False
1    False
2     True
3    False
4    False
5    False
6     True
7    False
8    False
Name: ST_NUM, dtype: bool

In [18]:
# Looking at the NUM_BEDROOMS column
print (df['NUM_BEDROOMS'])

0      3
1      3
2    n/a
3      1
4      3
5    NaN
6      2
7      1
8     na
Name: NUM_BEDROOMS, dtype: object

In [19]:
df['NUM_BEDROOMS'].isnull()

0    False
1    False
2    False
3    False
4    False
5     True
6    False
7    False
8    False
Name: NUM_BEDROOMS, dtype: bool

In [3]:
# Making a list of missing value types
missing_values = ["n/a", "na", "--"]
df = pd.read_csv(RealEstate, na_values = missing_values)

In [27]:
# Now letâ€™s take another look at this column and see what happens.

# Looking at the NUM_BEDROOMS column
print (df['NUM_BEDROOMS'])

0    3.0
1    3.0
2    NaN
3    1.0
4    3.0
5    NaN
6    2.0
7    1.0
8    NaN
Name: NUM_BEDROOMS, dtype: float64

In [28]:
df['NUM_BEDROOMS'].isnull()

0    False
1    False
2     True
3    False
4    False
5     True
6    False
7    False
8     True
Name: NUM_BEDROOMS, dtype: bool

In [ ]:
# 3 missing values is shown for num_bedrooms as True above

In [30]:
# Looking at the OWN_OCCUPIED column
print (df['OWN_OCCUPIED'])

0      Y
1      N
2      N
3     12
4      Y
5      Y
6    NaN
7      Y
8      Y
Name: OWN_OCCUPIED, dtype: object

In [39]:
# Making a list of missing value types
missing_values = ["n/a", "na", "--"]
df = pd.read_csv(RealEstate, na_values = missing_values)

In [37]:
#Looking at the Own_Occupied col.
df['OWN_OCCUPIED'].isnull()

0    False
1    False
2    False
3    False
4    False
5    False
6     True
7    False
8    False
Name: OWN_OCCUPIED, dtype: bool

In [ ]:
# for the Own_occupied the number 12 is not recognosized by panda as an input. It should be either  a Y or N. 
#This is an input error.
#The column is showing only 1 missing value instead of 2.

In [4]:
# Detecting number in the Own_occupied
cnt=0
for row in df['OWN_OCCUPIED']:
    try:
        int(row)
        df.loc[cnt, 'OWN_OCCUPIED']=np.nan
    except ValueError:
        pass
    cnt+=1

In [5]:
#Looking at the Own_Occupied col again.
df['OWN_OCCUPIED'].isnull()

0    False
1    False
2    False
3     True
4    False
5    False
6     True
7    False
8    False
Name: OWN_OCCUPIED, dtype: bool

In [ ]:
#We now have two missing values in the Own_Occupied.Using Numpy and for loop we were able to detect the 12 as a missing value.

In [36]:
print(df)

           PID  ST_NUM     ST_NAME OWN_OCCUPIED  NUM_BEDROOMS NUM_BATH   SQ_FT
0  100001000.0   104.0      PUTNAM            Y           3.0        1  1000.0
1  100002000.0   197.0   LEXINGTON            N           3.0      1.5     NaN
2  100003000.0     NaN   LEXINGTON            N           NaN        1   850.0
3  100004000.0   201.0    BERKELEY           12           1.0      NaN   700.0
4          NaN   203.0    BERKELEY            Y           3.0        2  1600.0
5  100006000.0   207.0    BERKELEY            Y           NaN        1   800.0
6  100007000.0     NaN  WASHINGTON          NaN           2.0   HURLEY   950.0
7  100008000.0   213.0     TREMONT            Y           1.0        1     NaN
8  100009000.0   215.0     TREMONT            Y           NaN        2  1800.0

In [42]:
#Summarizing missing values
# Total missing values for each feature
print (df.isnull().sum())

PID             1
ST_NUM          2
ST_NAME         0
OWN_OCCUPIED    2
NUM_BEDROOMS    3
NUM_BATH        1
SQ_FT           2
dtype: int64

In [44]:
# Any missing values?
print (df.isnull().values.any())

True

In [45]:
# Total number of missing values
print (df.isnull().sum().sum())

11

In [46]:
# Replace missing values with a number
df['ST_NUM'].fillna(125, inplace=True)

In [47]:
# Location based replacement
df.loc[2,'ST_NUM'] = 125

In [48]:
print (df['ST_NUM'])

0    104.0
1    197.0
2    125.0
3    201.0
4    203.0
5    207.0
6    125.0
7    213.0
8    215.0
Name: ST_NUM, dtype: float64

In [49]:
# Replace using median 
median = df['NUM_BEDROOMS'].median()
df['NUM_BEDROOMS'].fillna(median, inplace=True)

In [50]:
print (df['NUM_BEDROOMS'])

0    3.0
1    3.0
2    2.5
3    1.0
4    3.0
5    2.5
6    2.0
7    1.0
8    2.5
Name: NUM_BEDROOMS, dtype: float64

In [7]:
# Replace missing value with a string in Own_Occupied col.
df['OWN_OCCUPIED'].fillna('Y', inplace=True)

In [8]:
print (df['OWN_OCCUPIED'])

0    Y
1    N
2    N
3    Y
4    Y
5    Y
6    Y
7    Y
8    Y
Name: OWN_OCCUPIED, dtype: object

In [ ]:
# we now have a Y where we originally had an input error 12.